<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLinkActive="active" routerLink="/templateForm">Template Drive</a>
    <a class="navbar-brand" routerLinkActive="active" routerLink="/dataForm">Data Drive</a>
  </div>
</nav>

<router-outlet></router-outlet>
